{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}
<link rel='stylesheet' href='{% static "account/styles.css" %}'>
{% block content %}
    <div id='addhouse'>
        <br>
        
        <div class='addshow'>
            <br>
            <h2 style='color:#666666'>About Ywala</h2>
            <br>
            <div class='about-page-image'>
                    <img src="{% static 'account/logo123.jpg' %}" id='imageside' class='responsive2'>
            </div>

            <div class='about-page-text'>
                
                <p>
                        Ywala housing is a subsidiary of Ywala Limited, Ywala Limited was founded on the 4th of June 2018 with the sole aim of improving the technological and social well-being of Nigerians and the world at large by providing services ranging from ICT, Food, and Utilities amongst others. Visit Ywala blog for more.
                        Ywala Housing is a real estate arm of Ywala Limited which differ from the regular real estates practices with several features.
                        
                </p>
                <br>
                <h4>OUR SERVICES</h4>
                <div class='serve-text'>
                    <p>LETTING</p>
                    <p>
                            Besides buying and selling, Ywala Housing provides an avenue for tenants to meet landlords and let
                            houses easily and deal trustworthily.
                            
                    </p>
                    <br>
                    <p>  STUDENTS’ ACCOMODATION</p>
                    <p>
                          
                            Having known that the future of any nation depends on the productivity of the youths, we at Ywala
                            have worked hard to provide comfort for students and youths at low cost and comfort with the following features
                            
                    </p>
                    <br>
                    <p> LODGES LETTING</p>
                    <p>
                           
                            On the Ywala Housing platform, students in every state are linked to landlords who have students’-
                            friendly houses or lodges without having to troll around the city in search of an apartment. 
                            
                    </p>
                    <br>
                    <p>PAIRING (THE ROOMMATE FEATURE)</p>
                    <p>
                            
                            This is an outstanding feature provided by Ywala Housing to help students and/or corp members
                            amongst others to find a roommate in a particular area in other to either cut down budget on living
                            expense /housing or get companion or both.
                            This feature makes it easy for people to meet and occupy an apartment while sharing the cost.
                            
                    </p>
                </div>
                       
                
            </div>
            <br><br><br>
        </div>
    </div>
{% endblock %}
   




 