<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:italic">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
        <link rel='stylesheet' href='{% static "account/styles.css" %}'>
        <link href='{% static "account/css/mdb.min.css" %}' rel="stylesheet">
</head>
<body>
        <div class="preloader"></div>
    
        
        <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">Ywala Housing</a>
                  </div>
              
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    
                    <form method='get' action='{% url "searchme" %}' class="navbar-form navbar-right">
                      <div class="form-group">
                        <input type="text" class="form-control" id='sbox'name='q' placeholder="Search Houses" value='{{ request.get.q }}'>
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <a href='#' class='navbar-left'>
                                {% if user.profile.image  %} 
                                <img src='{{ user.profile.image.url }}'  width='50px' height="50px" style='border-radius:50%'>
                                {% else %}
                                <img src='{% static "account/avatar2.jpg" %}' width='50px' height="50px" style='border-radius:50%'>
                                {% endif %}
                                </a>
                            
                            <li class="dropdown" style="color:white">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style='color:#286DA8; background:transparent'>Hello {{ request.user.first_name }}<span class="caret"></span></a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                                <li role="separator" class="divider" style='padding:0px'></li>
                                <li><a href="{% url 'addlisting' %}">Make a listing</a></li>
                                <li role="separator" class="divider" style='padding:0px'></li>
                                <li><a href="{% url 'postman:inbox' %}">Inbox</a></li>
                                <li role="separator" class="divider" style='padding:0px'></li>
                                <li><a href='{% url "userlist" %}'>Manage Listing</a></li>
                                <li role="separator" class="divider" style='padding:0px'></li>
                                <li><a href="{% url 'vipSearch' %}">VIP Search</a></li>
                                <li role="separator" class="divider" style='padding:0px'></li>
                                <li><a href='{% url "edit" %}'>Edit Profile</a></li>
                                <li role="separator" class="divider" style='padding:0px'></li>
                                <li><a href='{% url "contact" %}'>Send us a message</a></li>
                                <li role="separator" class="divider" style='padding:0px'></li>
                                <li><a href='{% url "logout" %}'>Logout</a></li>
                                
                                </ul>
                            </li>
                        {% else %}
                            <li ><a href="{% url 'register' %}" style='color:#286da8'>Register</a></li>
                            <li><a href="{% url 'login' %}" style='color:#286da8'>Login</a></li>
                            <li><a href="{% url 'login' %}" style='color:#286da8'>Rent an apartment</a></li>   
                        {% endif %}
                        
                    </ul>
                  </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
              </nav>

<a href="#" class="scrollToTop" style="display: inline;">
    <div class="animated bounce infinite" style="">
        <i class="fa fa-arrow-circle-up"></i>
    </div> 
</a>
<section id='showcase'>
<div class='container'>
   <h2 style='font-family:Open Sans Condensed'>Ywala Housing Helps You Find a Room or Apartment in a Minute</h2><br><br><br><br>
   <div class='search-form-new'>
    <form method='get' action='{% url "searchme" %}' class='example'>
            <input type='text' name='q' placeholder="Enter Search Keyword" value='{{ request.get.q }}'>
            <button type="submit" class='butse'><i class="fa fa-search" aria-hidden="true" style='color:white; font-size:20px;'></i></button>
        </form>
   </div>
</div>
</section>

<div id='outerWall'>
<section id='entire' >
    
<div class='container' style="text-align:center;" id='howworks1'>
    <br><br>
    <div>
        {% if user.is_authenticated %}
        {% else %}
            <div>
                <div class='row'>
                    <div class='col-sm-6'>
                        <div class='login-image'>
                            <i class="fa fa-bell" aria-hidden="true" style='color:red'></i>
                            
                        </div>
                        login

                    </div>

                    <div class='col-sm-6'>
                        <div class='signu-image'>
                        
                        </div>
                        
                    </div>
                </div>
            </div>
        {%  endif %}
    </div>
    <div  id='howworks'>
        <h2 >How it Works</h2>
        <div class='row'>
            <span class="wow fadeInUp" data-wow-delay="0.3s">
                <div class='col-sm-4'>
                    <div class='iconLock1'>
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </div>
                    <p>Search for a room or an apartment in any city of your choice</p><br><br>
                </div>
            </span>

            <span class="wow fadeInUp" data-wow-delay="0.6s">
                <div class='col-sm-4'>
                    <div class='iconLock1'>
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </div>
                    <p>Register a Free Account to Contact the Owner</p><br><br>
                </div>
            </span>

            <span class="wow fadeInUp" data-wow-delay="0.9s">
                <div class='col-sm-4'>
                    <div class='iconLock1'>
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </div>
                    <p>Arrange a Viewing with the Owner to Inspect the room</p><br><br>
                </div>
            </div>
             </span>
            <hr style='border-color:#494e6b; border-width: 1px'>
    </div>
</div>

<div class='container' style="text-align:center" id='whyus'>
        <div class='wow slideInUp' id='whyus1'>
            <h2 >Why use Ywala Housing</h2>
            <div class='row' id ='frow'>
                    <div class='col-sm-4'>
                        <div class='iconLock1'>
                                <i class="fa fa-mobile" aria-hidden="true"></i>
                        </div>
                        <h3>Simple</h3>
                        <p>Simple and easy to use, If you can use a smartPhone, you can use Ywala.com</p>
                        <br><br>
                    </div>
    
                    <div class='col-sm-4'>
                        <div class='iconLock1'>
                            <i class="fa fa-bolt" aria-hidden="true"></i>
                        </div>
                        <h3>Fast</h3>
                        <p>We promote your adverts and help you reach hundreds of people to land a tenant fast</p>
                        <br><br>
                    </div>
    
                    <div class='col-sm-4'>
                        <div class='iconLock1'>
                            <i class="fa fa-bell" aria-hidden="true"></i>
                        </div>
                        <h3>Early Prompts</h3>
                        <p>Be the first to know when there is a new room or apartment available in the area/city you want</p>
                        <br><br>
                    </div>
                </div>

                <div class='row'>
                        <div class='col-sm-4'>
                            <div class='iconLock1'>
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </div>
                            <h3>safe</h3>
                            <p>Safety is guaranteed, your safety is important to us and so we have developed systemwith maximum security while ensuring simplicity of use</p>
                            <br><br>
                        </div>
        
                        <div class='col-sm-4'>
                            <div class='iconLock1'>
                                    <span >&#8358;</span>
                            </div>
                            <h3 >Free</h3>
                            <p>finding a suitable room on Ywala.com is completely free </p>
                            <br><br>
                        </div>
                        
                        <div class='col-sm-4'>
                            <div class='iconLock1'>
                                <i class="fa fa-check-square" aria-hidden="true"></i>
                            </div>
                            <h3>Flexible and Secure</h3>
                            <p>Use our secured system to pay your rent. if you dont like the room afterwords, your refund is gurannted. you can also pay directly to the Landlord</p>
                            <br><br>
                        </div>
                    </div>
                
        </div>
    </div>
</section>
</div>
    <section id='aboutus'>
                     
        <div id='innerabout'>

            <div class='row'>
                <div class='wow fadeInUpBig'>
                    <div class='col-sm-6' id='about-col'>
                       <img src="{% static 'account/logo123.jpg' %}" id='imageside' class='responsive2'>
                    </div>
                </div>

                <div class='wow fadeInUpBig' data-wow-delay="0.5s">
                    <div class='col-sm-6' id='about-col'>
                        <p style='font-size:15px'>
                                Ywala Housing is a subsidiary of Ywala Limited, Ywala Limited was founded with a strong passion to make a difference in the way people live. With the sole aim of improving the technological and social wellbeing of Nigerians and the world at large.
                                Ywala Housing starts with Nigeria to completely change the way people search and rent apartments, student hostels, Student Lodges or find roommates and all kinds of housing. We believe that Nigerians deserve more; for example, student life is already difficult here and looking for an apartment shouldn’t be another problem to worry about. Therefore, we at Ywala are here to give Nigerians the more they deserve, comfort and a stress-free way of searching for an apartment right on your mobile phone or computer. 
                                Ywala Housing is a fast-growing indigenous company with vibrant minds, a dedicated, passionate and diligent team.
                                With us your comfort is just clicks away.
                                
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% load bootstrap %}
    <section class='wow fadeInUp' id='newsarea'>
        <div id='newsarea1' >
            <h3>Subscribe to our Newsletter</h3>
            <p>Don't be left out, enter your email below to recieve regular updates from ywala</p>
            {% load bootstrap %}
            <form method="POST" class="post-form" >{% csrf_token %}
            <div style='display:none'>{{ sub_form.subEmail| bootstrap_horizontal }}</div>
            {{sub_form.subEmail}}
            <br>
            <button  class='btn btn-primary' type="submit" style='font-size:15px'>Submit</button>
            
            </form>
        </div>
    </section>

    <footer class='container-fluid ' id='mfoot' style='background:#111111;'>
            <div class='container'>
                <div class='row'>
                    <div class='col-sm-4'>
                        <ul>
                            <li><a href='{% url "about-us" %}'>About Ywala.com</a></li>
                            <li><a href='{% url "blog" %}'>Ywala Blog</a></li>
                            <li>Terms and Conditions</li>
                            <li>Privacy Policy</li>
                        </ul>
                    </div>
                    <br>
                    <div class='col-sm-4'>
                        <ul>
                            <li>Finding a room</li>
                            <li>How it Works</li>
                            <li>Why use Ywala.com</li>
                            <li>FAQ</li>
                            <li>Refund Policy</li>
                        </ul>
                    </div>
                    <br>
                    <div class='col-sm-4'>
                        <a href='#' class='fa fa-facebook'></a>
                        <a href='#' class='fa fa-twitter'></a>
                        <a href='#' class='fa fa-google'></a>
                        <a href='#' class='fa fa-youtube'></a>
                    </div>
                    <br>
                    
                </div>
                
                    <hr style='border-color:#286DA8; border-width: 1px'>
                    <p>Copyright 2018, Ywala.com</p>
            </div>
        </footer>
        
    
    
    
    <script type="text/javascript" src="{% static 'account/js/mdb.min.js' %}"></script>
  
    <script>
            new WOW().init();
        </script>
        <script>
                $(document).ready(function() {
          setInterval(function() {
            $(".preloader").fadeOut("slow")
          }, 3000);
        });
    </script>
    <script>
                $(document).ready(function(){
            
            //Check to see if the window is top if not then display button
            $(window).scroll(function(){
                if ($(this).scrollTop() > 500) {
                    $('.scrollToTop').fadeIn();
                } else {
                    $('.scrollToTop').fadeOut();
                }
            });
            
            //Click event to scroll to top
            $('.scrollToTop').click(function(){
                $('html, body').animate({scrollTop : 0},800);
                return false;
            });
            
            });
    </script>
</body>
</html>

