{% extends "base.html" %}
{% load static %}
<link rel='stylesheet' href='{% static "account/styles.css" %}'>
{% block content %}
    <section id='userlisting1'>
        
        <div class='outeruser'>
            <div class='userlisting'>
                <br>
                    {% if messages %}
                    <div class="alert alert-success">
                        <p>    
                            {% for message in messages %}          
                                {{ message|safe }}          
                            {% endfor %}  
                        </p>
                    </div>                     
                {% endif %}
                <ul class='divider'>
                    <p style=" font-size: 25px; color:#666666; padding-top: 24px;">My Listings</p>
                    {% if myhouses_list %}
                    <div class='row'>
                    {% for house in myhouses_list  %}
                    <div class='col-sm-4' >
                        <div id='myinner'>
                            
                            <li><img src='{{house.house_image2.url}}'   class='responsive'></li>
                            <br>
                            <div class='userpost'>
                                <div class='rightguy'>
                                    <li> {{house.name_of_accomodation}}</li>
                                    <li><img src="{% static 'account/bed1.png' %}" width='17px' height='17px'>&nbsp{{house.Number_of_rooms}}</li>
                                </div>
                                <div class='leftguy'>
                                    <li><li><img src="{% static 'account/loc2.png' %}" width='20px' height='20px' > &nbsp{{house.State}}</li>
                                    <li><img src="{% static 'account/naira1.png' %}" width='20px' height='20px' >&nbsp{{house.house_rent}}</li>
                                </div>
                                
                            </div>
                            <div class='centreguy'>
                                <a href="{% url 'detail' house.id %}"><button class='button_4' >View more</button></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div style='font-size: 16px;'>No listing to display</div><br>
                    <br>
                    </div>
                   
                    </ul>
                    {% endif %}
            </div>
            {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
            
        </div>
    </section>
{% endblock %}