
<!DOCTYPE html> 
<html> 
    <head>  
        <title>Ywala Housing</title>  
        {% load static %}
        {% load postman_tags %}
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        

        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:italic">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
        <link rel='stylesheet' href='{% static "account/style2.css" %}'>
        <link href='{% static "account/css/mdb.min.css" %}' rel="stylesheet">
        

    </head> 
    <body>  
        
            {% load bootstrap3 %}
            {% load bootstrap %}
            <div class="main-w3layouts wrapper">
                  
                    <div class="main-agileinfo">
                        <div class='inner-signup'>
                            <h1 style="font-size:30px;">Create an account</h1><br>
                            <p>Please, sign up using the following form:</p><br>
                            <form action="." method="post">
                                {{ user_form.username|bootstrap }} 
                                {{ user_form.first_name|bootstrap}}
                                {{ user_form.email|bootstrap}}
                                {{ user_form.password|bootstrap}}
                                {{ user_form.password2|bootstrap}}   
                                
                                {% csrf_token %}    
                                <input type="submit" value="Create my account" class='btn btn-primary' > 
                                <p>Already have an Account? <a href="{% url 'login' %}" style='color:aqua'> Login Now!</a></p> 
                            </form>
                        </div>
                    
                </div>

                <ul class="colorlib-bubbles">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
            </div>
</body> 
</html>